<ion-modal-view>
	<ion-header-bar class="bundBackground">
		<div class="buttons">
			<button class="button button-clear commentBackButtonWhite" ng-click="closeCommentDetail()"> <i class="icon ion-ios-arrow-left"></i>
			</button>
		</div>
		<h1 class="title">
			<img src="./img/logo.png" class="titleImg">
		</h1>
		
	</ion-header-bar>
	<ion-content overflow-scroll="true" stop-propagation scrolly="getComment()">
		<div class="list commentList"></div>
		<!-- <ion-infinite-scroll
		   immediate-check="true"
		   on-infinite="getComment()"
		   distance="1%"></ion-infinite-scroll> -->
	</ion-content>
	<form id="commentForm" ng-submit="doComment()">
		<div class="list greyBackground ">
			<div class="item item-input-inset commentInput">
				<label class="item-input-wrapper commentLabel">
					<input type="text" placeholder="回复" required maxlength="140" ng-model="comment.data" style="width:100%;"></label>
				<button class="button button-clear commentButton" type="submit">
					<i class="icon ion-ios-compose-outline"></i>
				</button>
			</div>
		</div>
	</form>
</ion-modal-view>