extends ../../layouts/pc
include ../../mixins/auth/auth-forms
include ../../mixins/flash-messages

block body
    .container-xs
        .page-intro
            h1 忘记密码了?
            p.lead 没关系, 我们会发送链接到你邮箱让你重设密码.
        .page-content
            +flash-messages(messages)
            +auth-forms({ modal: false, initial: 'password' })

block js
    script.
        jQuery(function($) {
            $('.auth-form').find('.form-control').eq(0).focus().select();
        });
