extends ../../layouts/pc
include ../../mixins/auth/auth-forms
include ../../mixins/flash-messages

block body
    .container-xs
        .page-intro
            h1 注册外滩账号
            +flash-messages(messages)
        .page-content
            +auth-forms({ modal: false, initial: 'join' })

block js
    script.
        jQuery(function($) {
            $('.auth-form').find('.form-control').eq(0).focus().select();
        });
