extends ../../layouts/pc
include ../../mixins/auth/auth-forms
include ../../mixins/flash-messages

block body
    .container-xs
        .page-intro
            h1 重设您的密码
            p.lead 请输入两次新密码
        .page-content
            +flash-messages(messages)
            form(method='post', novalidate).auth-form
                input(type='hidden', name='action', value='reset-password')
                .form-groups
                    .form-group
                        label(for='password').sr-only 新密码
                        input(type='password', name='password', id='password', placeholder='新密码').form-control.form-control--first
                    .form-group
                        label(for='password_confirm').sr-only 重复新密码
                        input(type='password', name='password_confirm', id='password_confirm', placeholder='重复新密码').form-control.form-control--last
                button(type='submit').btn.btn-block.btn-primary 重设密码
            p.text-center.text-muted.mt-3
                | 再想想,
                a(href='/signin') 登录

block js
    script.
        var $form = $('.auth-form');
        var $submit = $form.find('.btn');

        $submit.click( function() {
            $submit.addClass( 'disabled' );
        });

        $form.find("input[type!='hidden']").first().focus();
