//用到carousel.less,buttons.less
div(id="myCarousel" class="carousel slide" data-ride="carousel")
    //ol.carousel-indicators.floor-2
    //    li(data-target="#myCarousel" data-slide-to="0" class="active")
    //.carousel-inner.floor-1
        //.item.active
        //    img(src="/images/ad1.jpg" alt="First slide")
        //    //.container
        //    //    .carousel-caption
        //            //h1 第一页标题
        //            //p 精选当天最不可错过的图片，让你用最轻松的浏览方式，随时随地连接今日世界！
        //            //p
        //            //    a(class="btn btn-lg btn-primary" href="#" role="button") 点击按钮
    a(class="left carousel-control floor-2" href="#myCarousel" role="button" data-slide="prev")
        span(class="glyphicon glyphicon-chevron-left")
    a(class="right carousel-control floor-2" href="#myCarousel" role="button" data-slide="next")
        span(class="glyphicon glyphicon-chevron-right")