<ion-view view-title="">
	<ion-content scroll="true">
		<ng-include class="viewDetail" src="viewDetail" onload="showDetail();"></ng-include>
		<!-- <iframe ng-src="{{viewDetail}}" frameborder="0"></iframe> -->
	</ion-content>

	<div class="tabs tabs-icon-left">
		<a class="tab-item" ng-click="openPopover($event)"> 
			<i class="icon ion-edit"></i>
			写评论
		</a>
		<a class="tab-item addFav" ng-click="toggleFavorite();"> 
			<i class="icon ion-heart"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-share"></i>
		</a>
		<a class="tab-item" href="#/app/news/detail/{{detailId}}/commentDetail">
			<i class="icon ion-chatbubble-working"></i>
			<span class="badge badge-assertive commentNumber">{{commentCount}}</span>
		</a>
	</div>

	<script id="my-popover.html" type="text/ng-template">
	  <ion-popover-view>
	    <ion-content scroll="false">
	    	<form ng-submit="doComment();">
		      	<textarea type="text" class="editComent" placeholder="comment ..." ng-model="comment.data" maxlength="140" required></textarea>
		      	<button class="button button-assertive" type="submit">submit</button>
	      	</form>
	    </ion-content>
	  </ion-popover-view>
	</script>

</ion-view>