<ion-modal-view>
	<ion-content>
		<div class="contentWrapper">
			<ion-spinner class="loadSpinner"></ion-spinner>
			<ng-include class="viewLink" src="viewLink" onload="getWXImage();"></ng-include>
		</div>
	</ion-content>

	<div class="tabBlack">
		<a class=" itemBlack firstIcon" ng-click="closeDetail();"> <i class="icon ion-ios-play-outline"></i>
		</a>
		<a class=" itemBlack nextIcon" ng-click="showCommentDetail();"> 
			<i class="icon ion-ios-chatbubble-outline"></i>
			<span class="badge badge-assertive badgeCount">{{commentCount}}</span>
		</a>
		<a class=" itemBlack nextIcon">
			<i class="icon ion-ios-upload-outline"></i>
		</a>
		<a class=" addFav itemBlack nextIcon" ng-click="toggleFavorite();">
			<i class="icon ion-ios-heart-outline"></i>
		</a>
	</div>
</ion-modal-view>

