<ion-view view-title="收藏">
    <ion-content overflow-scroll="true">
    	<div>
    		<img src="http://www.bundpic.com/upload/images/191/348194967dafab9ae275c65576bf4f3d.jpg"  width="100%" alt="">
    	</div>
        <h1 class="favUsername">{{username}}</h1>
        <div class="favList"></div>
        <!-- <ion-infinite-scroll
            immediate-check="true"
            spinner="bubbles"
            on-infinite="getFavorite()"
            distance="1%"></ion-infinite-scroll> -->
    </ion-content>
</ion-view>


