<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Registration</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegistration()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegistration()">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="手机号" ng-model="registrationData.phonenumber"></label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="昵称" ng-model="registrationData.username"></label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="密码" ng-model="registrationData.password"></label>
        </div>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="验证码" ng-model="registrationData.vcode"></label>
          <button class="button button-small" ng-click="getVcode()">发送手机验证码</button>
        </div>
        <div class="item">
            <button class="button button-block button-assertive" type="submit">注册</button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-modal-view>
