extends ../../layouts/base
block bhead
    style.
        body, p {
            margin: 0px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        a {
            text-decoration: none;
            color: white;
        }

        #container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 0px;
            padding-right: 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
block bbody
    div#container

block btail
    script.
        document.addEventListener("DOMContentLoaded", function (event) {
            var container = document.getElementById("container");
            var launch_content = "#{launch_content}";
            var launch_content_s = "#{launch_content_s}";
            if (!launch_content) {
                var error = document.createElement('h1');
                error.innerText = "焦点图不存在";
                container.appendChild(error);
            } else {
                var content = document.createElement('div');
                if (window.screen.height < 481 && launch_content_s != "") {
                    content.innerHTML = htmlUnescape(launch_content_s);
                } else {
                    content.innerHTML = htmlUnescape(launch_content);
                }
                container.appendChild(content);
            }
        });
        function openonphone(link, hideTitle) {
            if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                if(window.webkit){
                    var adlink = "doad?link=" + link;
                    window.webkit.messageHandlers.inappbrowser.postMessage(link);
                    window.webkit.messageHandlers.newinappbrowser.postMessage(adlink);
                }
                window.location = "yios:openUrl(" + link + "," + hideTitle + ")";
            } else if (/Android/i.test(navigator.userAgent)) {
                if(Android){
                    var adlink = "doad?link=" + link;
                    Android.openWeb(adlink);
                }
                else{
                    try {
                        window.JSInterface.openUrl(link, hideTitle);
                    } catch (err) {
                    }
                }
            }
            return false;
        }
        function htmlUnescape(str) {
            return String(str)
                    .replace(/&amp;/g, '\&')
                    .replace(/&quot;/g, '\"')
                    .replace(/&#39;/g, '\'')
                    .replace(/&lt;/g, '\<')
                    .replace(/&gt;/g, '\>');
        }
